---
import Large from './typography/Large.astro'
import H2 from './typography/H2.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import { Image } from 'astro:assets'
import Pic1 from '@/assets/partner-hevvycorp.svg'
import Pic2 from '@/assets/partner-armstrongpumps.svg'
import Pic3 from '@/assets/partner-aspen-pumps.svg'
import Pic4 from '@/assets/partner-ebara.svg'
import Pic5 from '@/assets/partner-grundfos.svg'
import Pic6 from '@/assets/partner-wilo.svg'
import Pic7 from '@/assets/partner-pedrollo.svg'
import Pic8 from '@/assets/partner-lowara.svg'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section class="py-10 sm:py-16 lg:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <H2>{t('partner-brandtitle')}</H2>
      <Large>
        {t('partner-branddesc')}
      </Large>
    </div>

    <div
      class="mx-auto mt-12 grid max-w-4xl grid-cols-2 items-center gap-x-10 gap-y-16 md:mt-20 md:grid-cols-4"
    >
      <div>
        <Image class="mx-auto w-full h-auto rounded-full object-contain" src={Pic1} alt="" />
      </div>

      <div>
        <div>
          <Image class="mx-auto  h-auto w-full object-contain" src={Pic2} alt="" />
        </div>
      </div>

      <div>
        <div>
          <Image class="mx-auto h-auto w-full object-contain" src={Pic3} alt="" />
        </div>
      </div>

      <div>
        <div>
          <Image class="mx-auto h-auto w-full object-contain" src={Pic4} alt="" />
        </div>
      </div>

      <div class="hidden md:block">
        <div>
          <Image class="mx-auto h-auto w-full object-contain" src={Pic5} alt="" />
        </div>
      </div>

      <div class="hidden md:block">
        <div>
          <Image class="mx-auto h-auto w-full object-contain" src={Pic6} alt="" />
        </div>
      </div>

      <div class="hidden md:block">
        <div>
          <Image class="mx-auto h-auto w-full object-contain" src={Pic7} alt="" />
        </div>
      </div>

      <div class="hidden md:block">
        <div>
          <Image class="mx-auto h-auto w-full object-contain" src={Pic8} alt="" />
        </div>
      </div>
  </div>
</section>
